# Framework & UI
streamlit
langgraph
langchain
langchain-core
langchain-community

# AI Models & Logic
langchain-groq
langchain-huggingface
sentence-transformers

# Vector Database & Storage
langchain-chroma
chromadb
pysqlite3-binary

# Utilities
python-dotenv

# MCP (Model Context Protocol)
mcp
mcp-server-fetch
httpx>=0.27.0