# Framework & UI
streamlit
langgraph
langchain
langchain-core
langchain-community

# AI Models & Logic
langchain-groq
langchain-huggingface
sentence-transformers

# Vector Database & Storage
langchain-chroma
chromadb
pysqlite3-binary

# Utilities
python-dotenv